<div *ngIf="showDataGrid">
  <h3 align="left">Department Management</h3>
  <button (click)="onAddEditButtonClick()">Add Department</button>
</div>

<br><br>
<!-- Add/Edit Table -->
<div *ngIf="!showDataGrid">
  <form [formGroup]="departmentFrom" (submit)="onSubmitDepartment(departmentFrom.value, departmentFrom.valid)">

    <div>
      <a>Department Name:</a>
      <input type="text" placeholder="Enter Department Name" formControlName="name"/>
      <div *ngIf="nameValidation(departmentFrom.controls['name'])">{{nameErrorMessage}}</div>
    </div>
    <br>

    <div>
      <button type="submit">{{formButtonMessage}}</button>
      <button type="reset" (click)="onCancel()">Cancel</button>
    </div>

  </form>
</div>

<!-- Data Grid -->
<div *ngIf="showDataGrid">
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Dept Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr
      *ngFor="let dept of deptList | paginate: { currentPage: page, itemsPerPage: recordsPerPage, totalItems: totalRecords }; let i = index">
      <td>{{i + 1}}</td>
      <td>{{dept.name}}</td>
      <td>
        <button (click)="onChangeStatus(dept)">{{dept.isEnable}}</button>
      </td>
      <td>
        <button (click)="onAddEditButtonClick(dept)">Edit</button>
      </td>
    </tr>

    <tr *ngIf="!deptList">
      <td colspan="4">
        <h3>{{statusMessage}}</h3>
      </td>
    </tr>
  </table>

  <app-pagination (pageChange)="page = $event; getDeptData()"
  (numberChange)="onRecordsPerPageChange($event)"></app-pagination>
</div>
