.nameField{
  display: inline-block;
  width: 130px;
  text-align: left;
  padding: 0 7px 0 0;
  margin: 0 0 10px 0;
}

.inputField{
  display: inline-block;
  width: 180px;
  margin: 0 0 7px 0;
}

/*.nameField{*/
  /*display:inline-block;*/
  /*width:80px;*/
  /*text-align: right;*/
  /*padding: 14px 10px 0 0;*/
  /*margin:0 0 7px 0;*/
/*}*/
/*.inputField{*/
  /*display:inline-block;*/
  /*width:130px;*/
  /*margin:0;*/
  /*margin:0 0 7px 0;*/
/*}​*/
