<!-- Data Grid -->
<div *ngIf="showDataGrid">
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Course Name</th>
      <th>Department</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr
      *ngFor="let course of courseList | paginate: { currentPage: page, itemsPerPage: recordsPerPage, totalItems: totalRecords }; let i = index">
      <td>{{i + 1}}</td>
      <td>{{course.name}}</td>
      <td>{{course.departmentName}}</td>
      <td>
        <button (click)="onChangeStatus(course)">{{course.isEnable}}</button>
      </td>
      <td>
        <button (click)="onAddEditButtonClick(course)">Edit</button>
      </td>
    </tr>

    <tr *ngIf="!courseList">
      <td colspan="5">
        <h3>{{statusMessage}}</h3>
      </td>
    </tr>
  </table>

  <app-pagination (pageChange)="page = $event; getCourseData()"
                  (numberChange)="onRecordsPerPageChange($event)"></app-pagination>
</div>
