<div *ngIf="showDataGrid">
  <h3 align="left">Course Management</h3>
  <button (click)="onAddEditButtonClick()">Add Course</button>
</div>

<br><br>
<!-- Add/Edit Form -->
<div *ngIf="!showDataGrid">
  <form [formGroup]="courseForm" (submit)="onSubmitCourse(courseForm.value, courseForm.valid)">

    <div>
      <a>Department Name:</a>
      <select formControlName="department">
        <option value="" disabled>Select Department</option>
        <option *ngFor="let dept of deptList" value="{{dept._id}}">{{dept.name}}</option>
      </select>
      <div *ngIf="courseForm.controls['department'].touched && deptValidation(courseForm.controls['department'])"
           style="color: red">{{deptErrorMessage}}
      </div>
    </div>
    <br>

    <div>
      <a>Course Name:</a>
      <input type="text" placeholder="Enter Course Name" formControlName="name"/>
      <div *ngIf="courseForm.controls['name'].touched && courseValidation(courseForm.controls['name'])"
           style="color: red">{{courseErrorMessage}}
      </div>
    </div>
    <br>

    <div>
      <button type="submit">{{formButtonMessage}}</button>
      <button type="reset" (click)="onCancel()">Cancel</button>
    </div>

  </form>
</div>

<!-- Data Grid -->
<div *ngIf="showDataGrid">
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Course Name</th>
      <th>Department</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr
      *ngFor="let course of courseList | paginate: { currentPage: page, itemsPerPage: recordsPerPage, totalItems: totalRecords }; let i = index">
      <td>{{i + 1}}</td>
      <td>{{course.name}}</td>
      <td>{{course.departmentName}}</td>
      <td>
        <button (click)="onChangeStatus(course)">{{course.isEnable}}</button>
      </td>
      <td>
        <button (click)="onAddEditButtonClick(course)">Edit</button>
      </td>
    </tr>

    <tr *ngIf="!courseList">
      <td colspan="5">
        <h3>{{statusMessage}}</h3>
      </td>
    </tr>
  </table>

  <app-pagination (pageChange)="page = $event; getCourseData()"
                  (numberChange)="onRecordsPerPageChange($event)"></app-pagination>
</div>
