<br>
<div>
  <button routerLink="dashboard">Dashboard</button>
  <button routerLink="professor">Professor Management</button>
  <button routerLink="student">Student Management</button>
  <button routerLink="attendance">Attendance</button>
  <button routerLink="department">Department</button>
  <button routerLink="course">Course</button>
  <button routerLink="class">Class</button>
  <button routerLink="reports">Reports</button>
  <button routerLink="feedback">Feedback</button>
  <button routerLink="profile">Profile</button>
  <button type="submit" (click)="onLogOut()">Logout</button>
</div>
<br>
